body{font-family:arial}
code{color:#393}
table code{color:#000}
table{border:1px solid;box-shadow:2px 2px 2px #999;text-align:left;margin-left:auto;margin-right:auto;width:60%;background-color:#eee}
.left {float:left}
.right {float:right}
.center {display:block;text-align:center; margin-left: auto; margin-right: auto}
.license {color: #C00}
dt, dt code{color:#33f}
#hpe-rc {margin: 0;margin-bottom: -0.5em;padding:0;font-size:xx-large}
#privacy {font-size:x-small;font-style:italic}
td {vertical-align: top}
dd {margin-bottom:0.5em}
#content {
  margin-left:  26%;
}
#sidebar {
  position: fixed;
  float: left;
  width: 24%;
}