<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#latest-news">Latest News</a></li>
<li><a href="#requirements">Requirements</a></li>
<li><a href="#installation">Installation</a></li>
<li><a href="#operation">Operation</a>
<ul>
<li><a href="#basic-operation">Basic Operation</a>
<ul>
<li><a href="#non-interactive-operation">Non-Interactive Operation</a></li>
</ul></li>
<li><a href="#setting-parameters">Setting Parameters</a>
<ul>
<li><a href="#basic-parameters">Basic Parameters</a></li>
<li><a href="#date-format">Date Format</a></li>
<li><a href="#variable-substitution">Variable Substitution</a></li>
</ul></li>
<li><a href="#web-ui">Web UI</a></li>
<li><a href="#monitor-mode">Monitor Mode</a></li>
<li><a href="#audio-feed">Audio Feed</a></li>
<li><a href="#raw-data-experimental">Raw Data [Experimental]</a></li>
<li><a href="#command-reference">Command Reference</a>
<ul>
<li><a href="#replay-mode-commands">Replay Mode Commands</a></li>
<li><a href="#program-mode-commands">Program Mode Commands</a></li>
</ul></li>
</ul></li>
<li><a href="#troubleshooting">Troubleshooting</a></li>
<li><a href="#downloads">Downloads</a></li>
<li><a href="#contact-us">Contact Us</a></li>
</ul>
